  <!-- Pills content -->
    <div class="row d-flex" style="margin: 0px;">
      <form class="row d-flex justify-content-center w-100" [formGroup]="Registerform">
        <!-- Pills navs -->
      <div class="row d-flex justify-content-center" style="margin: 0px;">
        <div class="d-flex " style="margin-top: 50px; margin-bottom: 50px; width: 25%; height: 10px;">
          <button type="button " class="LoginButton buttonLeft">
          <a class="nav-link active" id="tab-login" data-mdb-toggle="pill" [routerLink]="['/Login']" role="tab"
          aria-controls="pills-login" aria-selected="true">Login</a>
          </button>
          <button type="button" class="buttonRight LoginButton  MainButton">
            <a class="nav-link active" id="tab-login" data-mdb-toggle="pill" [routerLink]="['/Login/Register']" role="tab"
            aria-controls="pills-login" aria-selected="true">Register</a>
          </button>
        </div>
      </div>
       <!-- Pills navs -->
          <div class="w-25 p-3 ">
              <!-- Email input -->
              <div class="form-outline mb-4">
                  <input type="text" id="loginName" class="form-control" formControlName="userName"/>
                  <label class="form-label" >User Name</label>
                  <P class="Error"
                  *ngIf="Registerform.controls.userName.touched 
                  && Registerform.controls.userName.errors?.['required']">
                  This field is required</P>
                  <P class="Error"
                  *ngIf="Registerform.controls.userName.touched 
                  &&Registerform.controls.userName.errors?.['minlength']">
                  Minimum length is 3 char
                  </P>
                  <P class="Error"
                  *ngIf="DuplicateUsername">
                  Username is already in use
                  </P>
                </div>
                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="password" id="loginPassword" class="form-control" formControlName="password"/>
                  <label class="form-label" >Password</label>
                  <P class="Error"
                  *ngIf="Registerform.controls.password.touched 
                  && Registerform.controls.password.errors?.['required']">
                  This field is required</P>
                  <P class="Error"
                  *ngIf="Registerform.controls.password.touched 
                  &&Registerform.controls.password.errors?.['minlength']">
                  Minimum length is 8 char </P>
                </div>
                <!-- Phone input -->
                <div class="form-outline mb-4">
                    <input type="string" class="form-control" formControlName="phone"/>
                    <label class="form-label" >Phone</label>
                    <P class="Error"
                  *ngIf="Registerform.controls.phone.touched 
                  && Registerform.controls.phone.errors?.['required']">
                  This field is required</P>
                  <P class="Error"
                  *ngIf="Registerform.controls.phone.touched 
                  &&Registerform.controls.phone.errors?.['minlength']">
                  Minimum length is 12 char </P>
                  </div>
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <input type="email" class="form-control" formControlName="email"/>
                    <label class="form-label" >Email</label>
                    <P class="Error"
                  *ngIf="Registerform.controls.email.touched 
                  && Registerform.controls.email.errors?.['required']">
                  This field is required</P>
                  <P class="Error"
                    *ngIf="Registerform.controls.email.touched 
                    && Registerform.controls.email.errors?.['email']">
                    email is invalid
                  </P>
                  </div>
                <!-- Location input -->
                <div class="form-outline mb-4">
                    <!-- <input type="text" id="loginLocation" class="form-control" formControlName="Location"/> -->
                    <label class="form-label" >Location</label><br>
                    <select formControlName="Location">
                      <option *ngFor="let G of goverments" value="{{G.governorate_name_en}}">
                        {{G.governorate_name_en}}
                      </option>
                    </select>
                    <P class="Error"
                  *ngIf="Registerform.controls.Location.touched 
                  && Registerform.controls.Location.errors?.['required']">
                  This field is required</P>
                </div>
                <!-- 2 column grid layout -->
                <div class="row mb-4">
                  <div class="col-md-6 d-flex justify-content-center">
                    <!-- Checkbox -->
                    <div class="form-check mb-3 mb-md-0">
                      <input class="form-check-input" type="checkbox" value="" id="loginCheck" />
                      <label class="form-check-label" for="loginCheck"> Remember me </label>
                    </div>
                  </div>
              </div>
              <div class="form-outline mb-4 d-flex justify-content-center">
                  <button [disabled]="Registerform.invalid" (click)="Login()" class="btn btn-primary btn-block mb-4 w-25 MainButton">Sign up</button>
              </div>     
          </div>
        <!-- Submit button -->
      </form>
    </div>
  <!-- Pills content -->
