.card{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}
.card button{
    height: 40px;
    width: 200px;
}
.Names{
    width: fit-content; 
    font-size: 30px; 
    padding-right: 10px; 
    vertical-align: bottom; 
    line-height: 30px;
}
@media only screen and (max-width: 600px) {
    .card{
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .card button{
        height: 30px;
        width: 100px;
    }
    .Names{
        width: fit-content; 
        font-size: 20px; 
        padding-right: 10px; 
        vertical-align: bottom; 
        line-height: 30px;
        font-weight: bold;
    }
}
.statusWaiting{
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    background-color: #e8eaea;
    color: black;
}
.statusAccepted{
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    background-color: #02c620;
    color: #afffbb;
}
.statusDeclined{
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    background-color: #c60202;
    color: aliceblue;
}
p{
    padding: 5px;
    border-radius: 15px;
    background-color: #e8eaea;
    margin-top: 5px;
    margin-bottom: 5px;
}