<div class="container" style="width: 100%;">
    <div class="row">
        <div class="col-12">
            <div class="status d-flex justify-content-between">
                <div style="font-weight: bolder; font-size: larger;" class="serviceName">{{data?.serviceDetails?.name}}</div>
                <div class="status">{{data?.status}}</div>
            </div>
            <div  style="font-weight: bolder;">Username : {{data?.userDetails?.userName}}</div>
        </div>
        <div class="col-12 request-text my-4 MainParagraph">
            <p>{{data?.requestText}}</p>
        </div>
        <div class="col-12 d-flex justify-content-between gap-3 align-items-center">
                <div class="actions">
                    <button style="width: 150px;" class="btn btn-danger d-block mb-3" (click)="changeStatus('Rejected')">Reject</button>
                    <button style="width: 150px;" class="btn btn-success d-block" (click)="changeStatus('Approved')">Accept</button>
                </div>
        </div>
    </div>

</div>