
<p *ngIf="!categories || !serviceId">loading...</p>


<form class="container" *ngIf="categories || !serviceId" [formGroup]="form">
  <div class="col-12 text-center container p-3">
    <h3  class="text-danger text-uppercase"> Service Form </h3>
  </div>
    <div class="container col-6 g-3 align-items-center">

      <label class="col-form-label"  for="name">Service Name</label>
      <input type="text" class="form-control" id="name" formControlName="name">

    
            <span class="form-text text-danger" *ngIf="form.controls.name.touched && form.controls.name.errors?.['required']"
            >
            This field is required 
            </span>
    
            <span class="form-text text-danger" *ngIf="form.controls.name.touched && form.controls.name.errors?.['minlength']"
            >
            The Service name is too short
            </span>

    </div>
    <br>
    <div class="container col-6 g-3 align-items-center">

            <label class="col-form-label" for="price">Service Price</label>
      
        
 
            <input class="col-form-label" type="number" class="form-control" formControlName="price">
 
    
 

          <span class="form-text text-danger" *ngIf="form.controls.price.touched && form.controls.price.errors?.['required']"
          >
          This field is required 
          </span>     
          <span class="form-text text-danger" *ngIf="form.controls.price.touched && form.controls.price.errors?.['max']"
            >
            The price is bigger than expected 
            </span>
            <span class="form-text text-danger" *ngIf="form.controls.price.touched && form.controls.price.errors?.['min']"
            >
            The price is smaller than expected 
            </span>

    </div>
    <br>
    <div class="container col-6 g-3 align-items-center">
            <label class="col-form-label" for="category">Category Name</label>

    
 
            <select class="col-form-label" class="form-select" formControlName="category"
             (change)="onChange()" [value]="categoryName">
              <!--<option>-Select Category-</option>-->
              <option></option>
              <option *ngFor="let category of categories">{{category.name}}</option>
            </select>

    

            <span class="form-text text-danger" *ngIf="form.controls.category.touched && form.controls.category.errors?.['required']"
             >
            This field is required 
            </span>      

    
    </div>
    <br>
    <div class="container col-6 g-3 align-items-center">
 
            <label class="col-form-label" for="location">Service Location</label>

    

            <select  class="form-select" formControlName="location">
              <option></option>
              <option >Alexandria</option>
              <option >Cairo</option>
            </select>

    

    
            <span class="form-text text-danger" *ngIf="form.controls.location.touched && form.controls.location.errors?.['required']"
            >
            This field is required 
            </span>
    
   
    </div>
    <br>
    <div class="container col-6 g-3 align-items-center">

            <label class="col-form-label" for="description">Service Description</label>

    

            <textarea class="form-control" formControlName="description"></textarea>

    

    
            <span class="form-text text-danger" *ngIf="form.controls.description.touched && form.controls.description.errors?.['required']"
            >
            This field is required 
            </span>
    

    </div>
    <br>
    <div class="container col-6 g-3 align-items-center ">
      <div class="col-8 mb-3">
        <label class="btn btn-default p-0">
          <input style="display: none" type="file" accept="image/*" (change)="onImageUpload1($event)" #selectImage1/>
          <button class="btn btn-danger" (click)="selectImage1.click()">Select Image 1</button>
        </label>
        <div style="width: 18rem;">
          <img [src]="previews[0]" class="card-img-top" >
        </div>
      </div>
    
    
      <div class="col-8 mb-3">
        <label class="btn btn-default p-0">
          <input style="display: none" type="file" accept="image/*" (change)="onImageUpload2($event)" #selectImage2/>
          <button class="btn btn-danger" (click)="selectImage2.click()">Select Image 2</button>
        </label>
        <div style="width: 18rem;">
          <img [src]="previews[1]"  class="card-img-top">
        </div>
      </div>
    
    
    <div class="col-8 mb-3">
      <label class="btn btn-default p-0">
        <input style="display: none" type="file" accept="image/*" (change)="onImageUpload3($event)" #selectImage3/>
      <button class="btn btn-danger" (click)="selectImage3.click()">Select Image 3</button>
      </label>
      <div style="width: 18rem;">
        <img [src]="previews[2]" class="card-img-top">
        </div>
    </div>
    
    
    <div class="col-8 mb-3">
    <label class="btn btn-default p-0">
      <input style="display: none" type="file" accept="image/*" (change)="onImageUpload4($event)"
       #selectImage4/>
    <button class="btn btn-danger" (click)="selectImage4.click()">Select Image 4</button>
    </label>
      <div style="width: 18rem;">
       <img [src]="previews[3]" class="card-img-top">
      </div>
    </div>

    </div>
    <br>
    <div class="container col-6 g-3 align-items-center">
        <button class="col-lg-3 text-uppercase btn btn-danger" (click)="EditService($event)"
        [disabled]="form.invalid || previews.length < 4">Edit</button>
    </div>
</form>